<div class="hgroup">
  <h1>Periculum in mora - WoW Gilde</h1>
  <h3>By Jan Heinsohn</h3>
</div>
<div class="form">
  <div class="group">
    <mat-form-field class="inputs">
      <input type="email" matInput placeholder="Email" [(ngModel)]="email">
    </mat-form-field>  
  </div>
  <div class="group">
    <mat-form-field class="inputs">
      <input type="password" matInput placeholder="Passwort" [(ngModel)]="password">
    </mat-form-field>  
  </div>
  <button (click)="loginHandler()" type="button" class="button buttonBlue">Anmelden
    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
  </button>
</div>
