<mat-toolbar color="primary">
  <a style="margin-right: 15px;">Periculum in mora</a>
  <a mat-button>Zu den Logs</a>
  <a mat-button>Mit dem TS verbinden</a>
  <span style="margin-right: 5px; margin-left: auto;">
    <a mat-button (click)="logout()">Logout</a>
  </span>
</mat-toolbar>